/* Footer background override (menu-block-bg-3.jpg) */
footer {
  position: relative;
  color: #000000;
  overflow: hidden;
}
footer::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url("../images/menu-block-bg-4.jpg");
  background-size: cover;
  background-position: center;
  opacity: 100%;
  z-index: 0;
}
footer > * {
  position: relative;
  z-index: 1;
}
